<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.EmployeeSalaryMapper">
    <insert id="upsert">
        INSERT INTO employee_salary (
          employee_id,
          year,
          month,
          salary_of_month,
          health_insurance,
          employment_insurance,
          welfare_pension,
          income_tax,
          salary_paid,
          created_by,
          created_at,
          updated_by,
          updated_at
        )
        VALUES
        <foreach collection="entities" item="entity" separator=",">
        (
          #{entity.employeeId},
          #{entity.year},
          #{entity.month},
          #{entity.salaryOfMonth},
          #{entity.healthInsurance},
          #{entity.employmentIncrease},
          #{entity.welfarePension},
          #{entity.incomeTax},
          #{entity.salaryPaid},
          #{entity.createdBy},
          #{entity.createdAt},
          #{entity.updatedBy},
          #{entity.updatedAt}
        )
        </foreach>
        ON DUPLICATE KEY UPDATE
          health_insurance = VALUES(health_insurance),
          employment_insurance = VALUES(employment_insurance),
          welfare_pension = VALUES(welfare_pension),
          income_tax = VALUES(income_tax),
          salary_paid = VALUES(salary_paid),
          updated_by = VALUES(updated_by),
          updated_at = VALUES(updated_at)
    </insert>
</mapper>