<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.OneTimeTokenMapper">
    <insert id="create">
        INSERT INTO one_time_token (
          employee_id,
          one_time_token,
          otp_req_id,
          expired_at
        ) VALUES (
          #{entity.employeeId},
          #{entity.oneTimeToken},
          #{entity.otpReqId},
          #{entity.expiredAt}
        )
    </insert>
    <delete id="deleteByEmployeeId">
        DELETE FROM
          one_time_token
        WHERE
          employee_id = #{employeeId}
    </delete>
</mapper>